name: Dart

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: actions/setup-java@v1.4.3
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1.4.0
      with:
        flutter-version: '1.7.8+hotfix.4'
    - run: flutter upgrade --force
    - run: flutter doctor -v
    - run: flutter packages get
    - run: flutter pub get
    - run: flutter build apk --debug --split-per-abi
    - name: Create a Release APK
      uses: ncipollo/release-action@v1.7.3
      with:
        artifacts: "build/app/outputs/apk/debug/*.apk"
        token: ${{ secrets.Token }}
        commit: master
        tag: v1.0.${{ github.run_number }}
